body
{
background-color:darkturquoise;
}

h1
{
  font-family:'Courier New', Courier, monospace;
  color:rgb(43, 10, 232);
  background-color: rgb(244, 199, 19);
}

#sketch_name
{
  color:rgb(180, 51, 116);
}

#show_sketch
{
  float:right;
}


p, span
  {
    padding-top:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, fantasy;
    font-size:25px;
    
  }

#score
{
  font-size:35px;
  margin-left: 20px;
}

#timer
{
  font-size:35px;
  float: right;
  margin-right: 20px;
}
canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}



